.number_level {
  padding-left: 24px;
}
.number_level h3 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FF7506;
}
.number_level .ant-breadcrumb {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: 29px;
}
.number_level .ant-breadcrumb .ant-breadcrumb-link {
  color: #7E7D88;
}
.number_level .ant-breadcrumb .ant-breadcrumb-link-2 {
  color: #FF7506;
}
.number_level .add_device {
  position: absolute;
  top: 250px;
  right: 0;
  width: 80px;
  height: 94px;
  background-color: #FFF2E7;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0px 0px 6px #E7E9F2;
  padding: 12px 0;
}
.number_level .add_device .icon_add {
  position: absolute;
  height: 28px;
  width: 28px;
  text-align: center;
  left: 28px;
  background-color: #FF9138;
  color: white;
  transform: rotate(-180deg);
  border-radius: 8px;
  overflow: hidden;
}
.number_level .add_device .icon_add svg {
  width: 100%;
  height: 100%;
}
.number_level .add_device .icon_add svg g > path {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.number_level .add_device span {
  margin-top: 32px;
  position: absolute;
  width: 62px;
  height: 38px;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FF7506;
}
.number_level .data_classification {
  width: 1112px;
  margin-top: 16px;
}
.number_level .data_classification .ant-row {
  gap: 24px;
}
.number_level .data_classification .ant-row h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
}
.number_level .data_classification .ant-row .active .ant-select {
  display: flex;
  align-items: center;
  width: 150px;
  height: 44px;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 1.5px solid #D4D4D7;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-selector {
  width: 100%;
  height: 100%;
  border: none;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-selector .ant-select-selection-placeholder {
  font-size: 16px;
  color: #535261 !important;
  font-weight: 400;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-arrow {
  list-style: 2;
  border-radius: 0px;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-arrow .anticon {
  width: 19px;
  height: 19px;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-arrow .anticon svg {
  color: #FF7506;
  padding: 0;
  width: 100% !important;
  height: 80% !important;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-arrow .anticon svg path {
  width: 12px !important;
  height: 6px !important;
}
.number_level .data_classification .ant-row .active .ant-select .ant-select-show-search .ant-select-selector {
  background-color: #FF7506;
}
.number_level .data_classification .ant-row .data_time h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(40, 39, 57);
}
.number_level .data_classification .ant-row .data_time .icon_sm {
  display: contents;
  color: #535261;
  width: 5px;
  height: 5px;
  margin: 0 8px;
}
.number_level .data_classification .ant-row .data_time .ant-picker {
  height: 44px;
  width: 140px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px 4px;
  background-color: #FFFFFF;
  border: 1.5px solid #D4D4D7;
  border-radius: 10px;
}
.number_level .data_classification .ant-row .data_time .ant-picker .ant-picker-input input {
  color: #A9A9B0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
}
.number_level .data_classification .ant-row .data_time .ant-picker .ant-picker-input .ant-picker-suffix {
  position: absolute;
  height: 17px;
  width: 17px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px;
  color: #FF7506;
}
.number_level .data_classification .ant-row .data_time .ant-picker .ant-picker-input .ant-picker-suffix svg {
  width: 100%;
  height: 100%;
}
.number_level .data_classification .ant-row .search .ant-input-search {
  width: 240px !important;
  padding: 5px;
  height: 44px;
  background-color: #FFFFFF;
  border: 1.5px solid #D4D4D7;
  border-radius: 8px;
}
.number_level .data_classification .ant-row .search .ant-input-search .ant-input-group {
  width: 100%;
  height: 100%;
}
.number_level .data_classification .ant-row .search .ant-input-search .ant-input-group .ant-input {
  border: none;
  font-size: 16px;
  line-height: 22px;
  color: #A9A9B0;
}
.number_level .data_classification .ant-row .search .ant-input-search .ant-input-group .ant-input-group-addon .ant-btn {
  border: none;
  box-shadow: none;
  background-color: #FFFFFF;
}
.number_level .data_classification .ant-row .search .ant-input-search .ant-input-group .ant-input-group-addon .ant-btn .anticon-search {
  color: rgb(255, 117, 6);
  font-weight: bold;
}
.number_level .ant-layout-content {
  margin-top: 13px;
}
.number_level .ant-layout-content .table {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.number_level .ant-layout-content .table thead {
  background-color: #FF9138;
  color: #FFFFFF;
}
.number_level .ant-layout-content .table tbody tr:nth-child(even) {
  background-color: #FFF2E7;
}
.number_level .ant-layout-content .table tbody tr:nth-child(odd) {
  background-color: white;
}/*# sourceMappingURL=CapSo.css.map */